/* General styling */
body {
    font-family: Arial, sans-serif;
    background-color: #2e2e2e;
    color: #fff;
    margin: 0;
    padding: 0;
    text-align: center;
}

header {
    background-color: #333;
    padding: 20px;
    color: white;
    text-align: center;
}

main.dashboard {
    display: flex;
    justify-content: space-around;
    margin: 20px;
}

/* Prediction section */
.prediction-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #333;
    border-radius: 10px;
}

.prediction-output {
    position: relative;
}

.legend {
    margin-top: 10px;
}

.color-box {
    display: inline-block;
    width: 12px;
    height: 12px;
    margin-right: 5px;
}

.blue {
    background-color: #00008B;
}

.green {
    background-color: #32CD32;
}

.purple {
    background-color: #9370DB;
}

.time-display {
    margin-top: 10px;
    font-size: 1.2rem;
}

.controls {
    margin-top: 20px;
    text-align: left;
    background-color: #444;
    padding: 20px;
    border-radius: 10px;
}

.controls label, .controls input, .controls button {
    color: #fff;
    display: block;
    margin-bottom: 10px;
}

.controls input, .controls button {
    padding: 5px;
    width: 100%;
    box-sizing: border-box;
}

.controls button {
    background-color: #4CAF50;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.controls button:hover {
    background-color: #45a049;
}

/* Status section */
.status-section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
}

.panel {
    background-color: #444;
    padding: 20px;
    border-radius: 10px;
}

.panel p {
    margin: 10px 0;
}

.value {
    font-size: 1.5rem;
    font-weight: bold;
}

.high {
    color: red;
}

.low {
    color: green;
}

.closed {
    color: red;
}

.open {
    color: green;
}
